<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Terminal Text Effect</title>
  <link rel="stylesheet" href="./style.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/final_t_interface.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
<!-- partial -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/final_s_interface.js') }}"></script>

</body>
</html>
